.about-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  padding-top: 2rem;

  p {
    // color: var(--black);
    // font-family: 'Quicksand', sans-serif;
    padding-right: 4rem;
  }
}

.about-photo {
  width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    color: var(--black);
    text-decoration: underline;
  }
}

.about-bottom {
  padding: 1rem 0;

  p {
    padding-right: 4rem;
  }

  p:first-child {
    width: 80%;
  }

  p:last-child {
    width: 50%;
  }
}

.about-email {
  height: 1.5rem;
}

.about-footer {
  width: 100%;
  position: absolute;
  bottom: -50%;
}

.about-title {
  height: 15vh;
}