// CAROUSEL
.book-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-page {
  width: 30vw;
}

.book-page.hidden {
  display: none;
}


.book-arrow {
  width: 5vw;
  transition: 0.5s ease all;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.book-arrow#right {
  transform: scaleX(-1);

  &:hover {
    transform: scaleX(-1) scale(1.1);
  }
}


// LAYOUT
.books-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  padding-right: 6vw;
  grid-gap: 2rem;
  align-items: center;

  a {
    color: var(--dark-purple);
  }
}


// SCHOOL IMAGES
.school-image {
  height: 15vh;

  &.hidden {
    display: none;
  }
}