.banner {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 160vh;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}


// images
.sun {
  width: 54rem;
  object-fit: cover;
  position: absolute;
  bottom: 3rem;
  right: -1rem;
  transform: translate(-350px, 125px)
}

.mountain {
  width: 110%;
  z-index: 2;
  position: relative;
  transform: translate(-80px, 0px);
}

.shark {
  width: 54rem;
  object-fit: cover;
  position: absolute;
  bottom: 3rem;
  right: -1rem;
  z-index: 1;
}

.tree {
  width: 43rem;
  position: absolute;
  bottom: 0;
  left: -8rem;
  z-index: 1;
  transform: translate(0,200px);
}

.houses {
  width: 39rem;
  position: absolute;
  bottom: 6rem;
  left: 12rem;
  transform: translate(0,200px);
}


// menu
.home {
  background-color: var(--purple);
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.home-menu {
  width: 50vw;
  margin: 0 auto;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-menu-level-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 6rem;
  align-items: flex-end;
}

.home-menu-level-2-es-pt {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 6rem;
}


.menu-item {
  transition: 0.5s ease all;

  &:hover {
    transform: scale(1.1);
  }
}

.home-illustrations {
  width: 40vw;
}

.home-about {
  height: 20vh;
}

.home-contact-en {
  height: 22vh;
  margin-left: 2rem;
}

.home-contact {
  height: 23vh;
}




// objects
.guava {
  width: 10rem;
  transform: translate(61%,-19%);
}

.pizza {
  width: 18rem;
  // animation: float1 5s;
  // animation-iteration-count: infinite;
}

.statue {
  width: 16rem;
  transform: translate(-29%, 21%);
  // animation: float2 7s;
  // animation-iteration-count: infinite;
}

.sushi {
  width: 8rem;
  transform: translate(1%, -39%) rotate(135deg);
}

.swan {
  width: 6rem;
  transform: translate(-190%, 15%) rotate(-15deg);
  // animation: sway 10s;
  // animation-iteration-count: infinite;
}

.home-objects-left, .home-objects-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#about-pt {
  height: 20%;
  transform: translate(21%, 31%);
  padding: 0 5%;
  width: 25%;
}

#about-es {
  width: 20%;
  padding: 0 10%;
  transform: translate(21%, -9%);
}

#design-es {
  height: 30%;
}

#websites-es {
  height: 25%;
  width: 31%;
}

#websites-pt {
  transform: translate(10%, -25%) rotate(-29deg);
  width: 32%;
}

#contact-es {
  transform: translate(-29%, -10%);
}

#contact-pt {
  transform: translate(-29%, -49%);
}

#shop-es {
  width: 35%;
  transform: translate(21%, 7%) rotate(45deg);
}

#shop-pt {
  transform: translate(1%, 14%) rotate(0deg)
}

#design-es {
  transform: translate(60px, 40px);
}