.illustration-show {
  // padding: 0 2rem;
  transition: 0.5s ease all;
}

.illustration-show-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 2rem;

  img {
    height: 4rem;
    cursor: pointer;
    transition: 0.5s ease all;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.illustration-show-content {
  padding: 2rem;
}

.illustration-show-content-top {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;

  height: 90vh;

  img {
    width: 55%;
  }
}

.illustration-show-description {
  width: 100%;
  background-position: center;
  background-image: asset-url("illustrations/illustrations_show_bg.png");
  color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;

  p {
    max-height: 80vh;
    overflow: auto;
    width: 28vw;
    height: 70vh;
  }
}

.illustrations-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;

  img {
    object-fit: cover;
    padding-bottom: 2rem;
  }

  img:first-child {
    width: 37.5%;
  }

  img:nth-child(2) {
    width: 57.5%;
  }

  img:nth-child(3) {
    width: 57.5%;
  }

  img:nth-child(4) {
    width: 37.5%;
  }
}

.final-photo {
  width: 100% !important;
  height: 50vh;
  padding-bottom: 0 !important;
}