/* BIO */

.about-text-bio {
  width: 50vw;
  background-color: #85bcb7;
  padding: 60px;
  transform: translate(550px, -50px);
  color: white;
}

.about-text-bio h2 {
  font-family: Rum raisin;
  font-size: 42px;
  color: white;
}

.about-text-bio h3 {
  font-family: Rum raisin;
  color: white;
}

#about-photo {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  transform: translate(290px, -760px);
  z-index: 1;
}


.about-text-bio a:link {
  background:
     linear-gradient(
       to bottom, #8690ba 0%,
       #8690ba 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;;
  text-decoration: none;
  transition: background-size .5s;
  padding: 0 5px 0 5px;
}

.about-text-bio a:hover {
  background-size: 4px 50px;
}

.about-text-bio a:visited {
  background:
     linear-gradient(
       to bottom, #8690ba 0%,
       #8690ba 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;
  text-decoration: none;
  transition: background-size .5s;
}


/* ILLUSTRATION */

.about-text-illustration {
  width: 50vw;
  background-color: #8690ba;
  padding: 60px;
  transform: translate(80px, -437px) rotate(5deg);
  color: white;
}

.about-text-illustration h2 {
  font-family: Rum raisin;
  color: white;
}

.about-text-illustration a:link {
  background:
     linear-gradient(
       to bottom, #8690ba 0%,
       #8690ba 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;
  text-decoration: none;
  transition: background-size .5s;
  padding: 5px;
}

.about-text-illustration a:hover {
  background-size: 4px 50px;
}

.about-text-illustration a:visited {
  background:
     linear-gradient(
       to bottom, #8690ba 0%,
       #8690ba 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;
  text-decoration: none;
  transition: background-size .5s;
  padding: 5;
}







.il-text {
  transform: translate(0px, 0px) rotate(-5deg);
  background-color: #85bcb7;
  padding: 10px;
}


/* WEB DEVELOPMENT */

.about-text-development {
  width: 50vw;
  background-color: #ea77d5;
  padding: 60px;
  transform: translate(417px, -450px) rotate(-5deg);
  color: white;
}

.about-text-development h2 {
  font-family: Rum raisin;
  color: white;
}

.web-text {
  background-color: #ff96eb;
  padding: 10px;
  transform: translate(0px, -10px) rotate(8deg);
}

/* CONTACT */

.about-contact {
  width: 50vw;
  background-color: #8690ba;
  margin: auto;
  padding: 60px 30px 60px 30px;
  transform: translate(-170px, -460px) rotate(5deg);
}

.typeform-widget {
  margin: auto;
  transform: translate(0px, 0px) rotate(-5deg);
}

/* END MESSAGE */

.about-charity {
  width: 50vw;
  background-color: #85bcb7;
  margin: auto;
  padding: 60px;
  transform: translate(90px, -450px) rotate(-5deg);
}

.about-charity p {
  font-family: Rum raisin;
  font-size: 25px;
  color: white;
}








/* MOBILE VIEW */

@media screen and (max-device-width: 400px) {
  #about-photo {
    width: 30%;
    height: 30%;
    transform: translate(530px, -1300px);
  }


  .about-text-bio {
    transform: translate(231px, -140px) rotate(-5deg);
    font-size: 30px;
    width: 70vw;
  }

  .about-text-bio h2 {
    font-size: 60px;
  }


  .about-text-illustration {
    width: 80vw;
  }

  .il-text {
    font-size: 30px;
  }

  .about-text-illustration h2 {
    font-size: 60px;
  }


  .about-text-development {
    transform: translate(220px, -430px) rotate(-5deg);
    font-size: 30px;
    width: 70vw;
  }

  .about-text-development h2 {
    font-size: 60px;
  }


  .about-contact {
    transform: translate(-60px, -440px) rotate(5deg);
    width: 70vw;
  }


  .about-charity {
    transform: translate(20px, -430px) rotate(-5deg);
    width: 80vw;
  }

  .about-charity p {
    font-size: 40px;
  }
}


/* TABLET VIEW */

@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  #about-photo {
    transform: translate(200px, -823px);
    width: 28%;
  }

  .about-text-bio {
    transform: translate(410px, -100px);
  }

  .about-text-illustration {
    transform: translate(80px, -417px) rotate(5deg);
  }

  .about-contact {
    width: 70vw;
    transform: translate(-80px, -460px) rotate(5deg);
  }

  .about-charity {
    width: 60vw;
  }
}
