.books-section {
  margin: auto;
}

.fish-in-the-sea {
  background-color: white;
  border-radius: 50px;
  height: auto;
  width: 60vw;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  transform: translate(10px, -194px);
}


#fish-in-the-sea-image-1 {
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 450px;
  height: 600px;
}

#fish-in-the-sea-image-2 {
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 450px;
  height: 600px;
}

#fish-in-the-sea-image-3 {
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 450px;
  height: 600px;
}

#fish-in-the-sea-image-4 {
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 450px;
  height: 600px;
}




#octopus-illustration {
  width: 40%;
  margin: auto;
  display: block;
  transform: translate(10px, 43px);

  animation: octopus-sway 4s infinite;
}


@keyframes octopus-sway {
  0% {transform: translate(10px, 43px) rotate(2deg);}
  50% {transform: translate(10px, 43px) rotate(-2deg);}
  100% {transform: translate(10px, 43px) rotate(2deg);}
}


/* FISH IN THE SEA BUTTONS */

.fish-in-the-sea-images-buttons {
  margin-top: 30px;
  text-align: center;
  color: purple;
}

#fish-in-the-sea-button-2 {
  opacity: 0.5;
}

#fish-in-the-sea-button-3 {
  opacity: 0.5;
}

#fish-in-the-sea-button-4 {
  opacity: 0.5;
}
