.circles-top {
  display: flex;
/*  margin-top: 50px;*/
  justify-content: space-around;
/*  margin-left: 100px;
  margin-right: 100px;*/
}

.circles-middle {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.circles-bottom {
  display: flex;
  justify-content: space-around;
}

.circles-top, .circles-middle, .circles-bottom {
  height: 250px;
}


.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 10px 15px 0px 2px #89ABAA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Rum raisin;
  font-size: 60px;

  transition: all 0.5s;
}

#illustrations {
  font-size: 50px;
}



/*.circles {
  padding-top: 10vh;
}


#websites.circle.open {
  transform: translate(-24%, -71%);
}

#illustrations.circle.open {
  transform: translate(-41%, -57%);
}

#books.circle.open {
  transform: translate(-56%, -71%);
}

#about.circle.open {
  transform: translate(116%, -268%);
}



#illustrations.circle.small {
  transform: translate(-85%, -73%);
}

#websites.circle.small {
  transform: translate(-27%, -104%);
}

#books.circle.small {
  transform: translate(-107%, -85%);
}

#about.circle.small {
  transform: translate(250%,-386%);
}

.circle.small {
  width: 150px;
  height: 150px;
}
*/



@media screen and (max-device-width: 400px) {
  .circles {
    padding-top: 10vh;
  }


  #websites.circle.open {
    transform: translate(-24%, -71%);
  }

  #illustrations.circle.open {
    transform: translate(-41%, -57%);
  }

  #books.circle.open {
    transform: translate(-56%, -71%);
  }

  #about.circle.open {
    transform: translate(116%, -268%);
  }



  #illustrations.circle.small {
    transform: translate(-85%, -73%);
    font-size: 30px;
  }

  #websites.circle.small {
    transform: translate(-27%, -104%);
    font-size: 40px;
  }

  #books.circle.small {
    transform: translate(-107%, -85%);
    font-size: 40px;
  }

  #about.circle.small {
    transform: translate(250%,-386%);
    font-size: 40px;
  }

  .circle.small {
    width: 150px;
    height: 150px;
  }
}




@media screen and (min-device-width: 401px) {

  .circles {
    padding-top: 10vh;
  }


  #websites.circle.open {
    transform: translate(-20%, -100%);
  }

  #illustrations.circle.open {
    transform: translate(-70%, 0%);
  }

  #books.circle.open {
    transform: translate(0%, -99%);
  }

  #about.circle.open {
    transform: translate(50%, -200%);
  }



  #illustrations.circle.small {
    transform: translate(-100%, 30%);
    font-size: 30px;
  }

  #websites.circle.small {
    transform: translate(30%, -135%);
    font-size: 40px;
  }

  #books.circle.small {
    transform: translate(-30%, -140%);
    font-size: 40px;
  }

  #about.circle.small {
    transform: translate(100%, -300%);
    font-size: 40px;
  }

  .circle.small {
    width: 150px;
    height: 150px;
  }


}



