.circles-top {
  display: flex;
/*  margin-top: 50px;*/
  justify-content: space-around;
/*  margin-left: 100px;
  margin-right: 100px;*/
}

.circles-middle {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.circles-bottom {
  display: flex;
  justify-content: space-around;
}

.circles-top, .circles-middle, .circles-bottom {
  height: 250px;
}


.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 10px 15px 0px 2px #89ABAA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Rum raisin;
  font-size: 60px;

  transition: all 0.5s;
}

/*#illustrations {
  font-size: 50px;
}*/



.circles {
  padding-top: 10vh;
}


#websites.circle.open {
  transform: translate(-35%, -100%);
}

#illustrations.circle.open {
  transform: translate(-35%, 0%);
}

#books.circle.open {
  transform: translate(-35%, -100%);
}

#about.circle.open {
  transform: translate(134%, -200%);
}



#illustrations.circle.small {
  transform: translate(-80%, 37%);
}

#websites.circle.small {
  transform: translate(-80%, -129%);
}

#books.circle.small {
  transform: translate(-60%, -130%);
}

#about.circle.small {
  transform: translate(250%,-298%);
}

.circle.small {
  width: 150px;
  height: 150px;
}






