/* GENERAL */

p {
  font-family: 'PT Mono', monospace;
}

h2 {
  font-family: Rum raisin;
}



/* BOOKS */

.fish-in-the-sea-text {
  margin-left: 75px;
  font-family: Rum raisin;
}

/* WEBSITES */

.handyladies-text {
  font-family: Rum raisin;
}

.fishbnb-text {
  font-family: Rum raisin;
}



