.hidden {
  display: none !important;
}


.grid {
  vertical-align: middle;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


.img {
  width: 25vw;
  height: 60vh;
  background-color: white;
  border-radius: 50px;

}

.middle {
  margin: 0 70px 0 70px;
}



.illustrations-grid {
  display: flex;
  justify-content: space-around;
}



/* ILLUSTRATIONS */

#purple {
  transform: translate(-17px, -78px) rotate(-8deg);
  width: 25vw !important;
  height: 67vh !important;
  padding-top: 10px;
}

#elephant {
  transform: translate(8px, -11px) rotate(7deg);
  width: 27vw !important;
  height: 68vh !important;
  padding: 0 10px 0 10px;
}

#ricky {
  transform: translate(43px, -82px) rotate(-3deg);
  padding: 0 10px 0 10px;
}

#uncleed {
  transform: translate(-3px, -34px) rotate(10deg);
  width: 22vw !important;
  height: 55vh !important;
  padding: 0 20px 10px 0;
}

#onion {
  transform: translate(-3px, 7px);
}

#teapot {
  height: 65vh !important;
  padding-bottom: 10px;
  width: 22vw !important;
  transform: translate(-33px, -63px) rotate(8deg);
}

#bluepot {
  padding: 10px 10px 0 0;
  transform: translate(4px, -46px) rotate(-15deg);
}

#kyle {
  padding: 30px 10px 0 10px;
  height: 65vh !important;
  transform: translate(10px, 10px) rotate(5deg);
}

#run {
  height: 55vh;
  transform: translate(10px, -40px);
}

#shark {
  width: 25vw;
  height: 45vh;
  transform: translate(-23px, 13px);
}

#long {
  padding: 10px 10px 0 0;
  transform: translate(3px, 53px) rotate(-17deg);
  width: 23vw;
  height: 55vh;
}

#cat {
  transform: translate(17px, -36px) rotate(17deg);
}

#bigwave {
  transform: translate(-36px, -56px) rotate(10deg);
  height: 65vh;
}

#doodles {
  width: 33vw;
  transform: translate(10px, 63px);
  margin-left: 10px !important;
  padding: 10px;
}

#space {
  height: 58vh;
  transform: translate(10px, 54px) rotate(-14deg);
}

#egg {
  transform: translate(24px, -1px) rotate(-12deg);
  width: 20vw;
  height: 55vh;
}

#max {
  transform: translate(10px, 54px) rotate(8deg);
}

#banana {
  transform: translate(-30px, 50px);
  width: 20vw;
  height: 55vh;
}

#ramen1 {
  height: 67vh;
}

#neck {
  transform: translate(0px, 107px) rotate(-15deg);
  height: 55vh;
}

#house {
  transform: translate(10px, 53px) rotate(11deg);
  width: 24vw;
  height: 55vh;
}

#chameleon {
  height: 60vh;
  width: 21vw;
  transform: translate(10px, 30px) rotate(-15deg);
}

#relax {
  width: 33vw;
  padding: 0 0 0 20px;
  transform: translate(10px, 75px);
}

#cateat {
  width: 20vw;
  height: 53vh;
  transform: translate(10px, 9px) rotate(7deg);
}

#squash {
  width: 30vw;
  transform: translate(-4px, 76px) rotate(5deg);
}

#cathead {
  transform: translate(10px, 143px) rotate(-13deg);
  width: 20vw;
}

#ramen2 {
  height: 63vh;
  transform: translate(10px, 42px) rotate(6deg);
  padding: 0 10px;
}



