.hidden {
  display: none !important;
}


.grid {
  vertical-align: middle;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


.img {
  width: 25vw;
  height: 60vh;
  background-color: white;
  border-radius: 30px;
}

.middle {
  margin: 0 70px 0 70px;
}

.illustrations-section {
  transform: translate(0px, -182px);
}

.illustrations-grid {
  display: flex;
  justify-content: space-around;
}


/* ILLUSTRATIONS */

#purple {
  transform: translate(-17px, -78px) rotate(-8deg);
  width: 25vw;
  height: 67vh;
  padding-top: 10px;
}

#elephant {
  transform: translate(8px, -11px) rotate(7deg);
  width: 27vw;
  height: 68vh;
  padding: 0 10px 0 10px;
}

#ricky {
  transform: translate(43px, -82px) rotate(-3deg);
  padding: 0 10px 0 10px;
}

#uncleed {
  transform: translate(-3px, -34px) rotate(10deg);
  width: 22vw;
  height: 55vh;
  padding: 0 20px 10px 0;
}

#onion {
  transform: translate(-3px, 7px);
}

#teapot {
  height: 65vh;
  padding-bottom: 10px;
  width: 22vw;
  transform: translate(-33px, -63px) rotate(8deg);
}

#bluepot {
  padding: 10px 10px 0 0;
  transform: translate(4px, -46px) rotate(-15deg);
}

#kyle {
  padding: 30px 10px 0 10px;
  height: 65vh;
  transform: translate(10px, 10px) rotate(5deg);
}

#run {
  height: 55vh;
  transform: translate(10px, -40px);
}

#shark {
  width: 25vw;
  height: 45vh;
  transform: translate(-23px, 13px);
}

#long {
  padding: 10px 10px 0 0;
  transform: translate(3px, 53px) rotate(-17deg);
  width: 23vw;
  height: 55vh;
}

#cat {
  transform: translate(17px, -36px) rotate(17deg);
}

#bigwave {
  transform: translate(-36px, -56px) rotate(10deg);
  height: 65vh;
}

#doodles {
  width: 33vw;
  transform: translate(10px, 63px);
  margin-left: 10px !important;
  padding: 10px;
}

#space {
  height: 58vh;
  transform: translate(10px, 54px) rotate(-14deg);
}

#egg {
  transform: translate(24px, -1px) rotate(-12deg);
  width: 20vw;
  height: 55vh;
}

#max {
  transform: translate(10px, 54px) rotate(8deg);
}

#banana {
  transform: translate(-30px, 50px);
  width: 20vw;
  height: 55vh;
}

#ramen1 {
  height: 67vh;
}

#neck {
  transform: translate(0px, 107px) rotate(-15deg);
  height: 55vh;
}

#house {
  transform: translate(10px, 53px) rotate(11deg);
  width: 24vw;
  height: 55vh;
}

#chameleon {
  height: 60vh;
  width: 21vw;
  transform: translate(10px, 30px) rotate(-15deg);
}

#relax {
  width: 33vw;
  padding: 0 0 0 20px;
  transform: translate(10px, 75px);
}

#cateat {
  width: 20vw;
  height: 53vh;
  transform: translate(10px, 9px) rotate(7deg);
}

#squash {
  width: 30vw;
  transform: translate(-4px, 76px) rotate(5deg);
}

#cathead {
  transform: translate(10px, 143px) rotate(-13deg);
  width: 20vw;
}

#ramen2 {
  height: 63vh;
  transform: translate(10px, 42px) rotate(6deg);
  padding: 0 10px;
}



/* MOBILE VIEW */

/* PORTRAIT */
@media screen and (max-device-width: 400px) and (orientation: portrait) {

  .grid {
    transform: translate(10px, 456px);
    padding-bottom: 500px;
    margin: 0 !important;
  }

  .row {
    width: 100%;
    margin: 0 !important;
  }

  #purple {
    width: 58%;
    height: 40%;
    transform: translate(125px, -560px) rotate(10deg);
  }

  #elephant {
    width: 58%;
    height: 40%;
    transform: translate(219px, -510px) rotate(-17deg);
  }

  #ricky {
    width: 58%;
    height: 40%;
    transform: translate(93px, -465px);
  }

  #uncleed {
    width: 58%;
    height: 40%;
    transform: translate(310px, -483px) rotate(-15deg);
  }

  #onion {
    width: 58%;
    height: 40%;
    transform: translate(65px, -430px) rotate(13deg);
  }

  #teapot {
    width: 58%;
    height: 40%;
    transform: translate(240px, -373px) rotate(-9deg);
  }

  #bluepot {
    width: 58%;
    height: 40%;
    transform: translate(300px, -338px) rotate(15deg);
  }

  #kyle {
    width: 58%;
    height: 40%;
    transform: translate(30px, -317px);
  }

  #run {
    width: 58%;
    height: 40%;
    transform: translate(304px, -265px) rotate(14deg);
  }

  #shark {
    width: 58%;
    height: 40%;
    transform: translate(110px, -234px) rotate(-15deg);
  }

  #long {
    width: 58%;
    height: 40%;
    transform: translate(220px, -200px) rotate(5deg);
  }

  #cat {
    width: 58%;
    height: 40%;
    transform: translate(112px, -170px) rotate(-15deg);
  }

  #bigwave {
    width: 58%;
    height: 40%;
    transform: translate(290px, -162px) rotate(15deg);
  }

  #doodles {
    width: 78%;
    height: 40%;
    transform: translate(10px, -130px);
  }

  #space {
    width: 66%;
    height: 40%;
    transform: translate(130px, -90px) rotate(-15deg);
  }

  #egg {
    width: 58%;
    height: 40%;
    transform: translate(234px, -46px) rotate(26deg);
  }

  #max {
    width: 58%;
    height: 40%;
    transform: translate(180px, 14px);
  }

  #banana {
    width: 58%;
    height: 40%;
    transform: translate(140px, 50px) rotate(-15deg);
  }

  #ramen1 {
    width: 58%;
    height: 40%;
    transform: translate(226px, 84px) rotate(26deg);
  }

  #neck {
    width: 58%;
    height: 40%;
    transform: translate(30px, 142px);
  }

  #house {
    width: 58%;
    height: 40%;
    transform: translate(310px, 152px) rotate(-15deg);
  }

  #chameleon {
    width: 58%;
    height: 40%;
    transform: translate(160px, 183px) rotate(15deg);
  }

  #relax {
    width: 64%;
    height: 40%;
    transform: translate(230px, 221px) rotate(-5deg);
  }

  #cateat {
    width: 51%;
    height: 40%;
    transform: translate(110px, 236px) rotate(7deg);
  }

  #squash {
    width: 62%;
    height: 40%;
    transform: translate(302px, 209px) rotate(-9deg);
  }

  #cathead {
    width: 48%;
    height: 40%;
    transform: translate(82px, 247px) rotate(15deg);
  }

  #ramen2 {
    width: 58%;
    height: 40%;
    transform: translate(240px, 280px);
  }
}


/* LANDSCAPE */

/*@media screen and (max-device-width: 400px) and (orientation: landscape) {

  #purple {
    transform: translate(33px, -78px) rotate(-8deg);
    width: 25vw;
    height: 67vh;
    padding-top: 10px;
  }

  #elephant {
    transform: translate(8px, -11px) rotate(7deg);
    width: 27vw;
    height: 68vh;
    padding: 0 10px 0 10px;
  }

  #ricky {
    transform: translate(-17px, -82px) rotate(-3deg);
    padding: 0 10px 0 10px;
  }

  #uncleed {
    transform: translate(57px, -34px) rotate(10deg);
    width: 22vw;
    height: 55vh;
    padding: 0 20px 10px 0;
  }

  #onion {
    transform: translate(-3px, 7px);
  }

  #teapot {
    height: 65vh;
    padding-bottom: 10px;
    width: 22vw;
    transform: translate(-33px, -63px) rotate(8deg);
  }

  #bluepot {
    padding: 10px 10px 0 0;
    transform: translate(44px, -16px) rotate(-15deg);
  }

  #kyle {
    padding: 30px 10px 0 10px;
    height: 65vh;
    transform: translate(10px, 10px) rotate(5deg);
  }

  #run {
    height: 55vh;
    transform: translate(-30px, -40px);
  }

  #shark {
    width: 25vw;
    height: 45vh;
    transform: translate(17px, -27px);
  }

  #long {
    padding: 10px 10px 0 0;
    transform: translate(3px, 53px) rotate(-17deg);
    width: 23vw;
    height: 55vh;
  }

  #cat {
    transform: translate(7px, -36px) rotate(7deg);
  }

  #bigwave {
    transform: translate(-6px, -56px) rotate(10deg);
    height: 65vh;
  }

  #doodles {
    width: 33vw;
    transform: translate(10px, 63px);
    margin-left: 10px !important;
    padding: 10px;
  }

  #space {
    height: 58vh;
    transform: translate(0px, 14px) rotate(-14deg);
  }

  #egg {
    transform: translate(24px, -1px) rotate(-12deg);
    width: 20vw;
    height: 55vh;
  }

  #max {
    transform: translate(10px, 54px) rotate(8deg);
  }

  #banana {
    transform: translate(-30px, 50px);
    width: 20vw;
    height: 55vh;
  }

  #ramen1 {
    height: 67vh;
  }

  #neck {
    transform: translate(0px, 107px) rotate(-15deg);
    height: 55vh;
  }

  #house {
    transform: translate(10px, 53px) rotate(11deg);
    width: 24vw;
    height: 55vh;
  }

  #chameleon {
    height: 60vh;
    width: 21vw;
    transform: translate(10px, 30px) rotate(-15deg);
  }

  #relax {
    width: 33vw;
    padding: 0 0 0 20px;
    transform: translate(10px, 75px);
  }

  #cateat {
    width: 20vw;
    height: 53vh;
    transform: translate(10px, 49px) rotate(7deg);
  }

  #squash {
    width: 30vw;
    transform: translate(-4px, 76px) rotate(5deg);
  }

  #cathead {
    transform: translate(10px, 143px) rotate(-13deg);
    width: 20vw;
  }

  #ramen2 {
    height: 63vh;
    transform: translate(10px, 42px) rotate(6deg);
    padding: 0 10px;
  }

}*/



/* TABLET VIEW */

@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {

  .row {
    width: 100%;
  }

  #purple {
    width: 40%;
    height: 40%;
    transform: translate(530px, -160px) rotate(-19deg);
  }

  #elephant {
    width: 40%;
    height: 40%;
    transform: translate(8px, 560px) rotate(3deg);
  }

  #ricky {
    width: 40%;
    height: 40%;
    transform: translate(93px, -330px);
  }

  #uncleed {
    width: 40%;
    height: 40%;
    transform: translate(90px, -80px) rotate(-5deg);
  }

  #onion {
    width: 35%;
    height: 40%;
    transform: translate(10px, 200px) rotate(-17deg);
  }

  #teapot {
    width: 40%;
    height: 40%;
    transform: translate(121px, 117px) rotate(11deg);
  }

  #bluepot {
    width: 40%;
    height: 40%;
    transform: translate(101px, 302px) rotate(-5deg);
  }

  #kyle {
    width: 40%;
    height: 40%;
    transform: translate(30px, -128px);
  }

  #run {
    width: 40%;
    height: 40%;
    transform: translate(574px, 127px) rotate(4deg);
  }

  #shark {
    width: 46%;
    height: 50%;
    transform: translate(88px, 1076px) rotate(0deg);
  }

  #long {
    width: 35%;
    height: 40%;
    transform: translate(20px, 813px) rotate(-5deg);
  }

  #cat {
    width: 40%;
    height: 40%;
    transform: translate(93px, 1490px) rotate(15deg);
  }

  #bigwave {
    width: 40%;
    height: 40%;
    transform: translate(580px, 1390px) rotate(5deg);
  }

  #doodles {
    width: 60%;
    height: 46%;
    transform: translate(109px, -1340px) rotate(15deg);
  }

  #space {
    width: 40%;
    height: 40%;
    transform: translate(528px, -530px) rotate(-25deg);
  }

  #egg {
    width: 40%;
    height: 40%;
    transform: translate(84px, 134px) rotate(-8deg);
  }

  #max {
    width: 40%;
    height: 40%;
    transform: translate(29px, 484px) rotate(5deg);
  }

  #banana {
    width: 35%;
    height: 40%;
    transform: translate(630px, 570px) rotate(-5deg);
  }

  #ramen1 {
    width: 45%;
    height: 40%;
    transform: translate(96px, 14px) rotate(6deg);
  }

  #neck {
    width: 40%;
    height: 40%;
    transform: translate(50px, 752px);
  }

  #house {
    width: 40%;
    height: 40%;
    transform: translate(80px, 252px) rotate(-10deg);
  }

  #chameleon {
    width: 40%;
    height: 40%;
    transform: translate(40px, 390px);
  }

  #relax {
    width: 42%;
    height: 40%;
    transform: translate(40px, 160px) rotate(14deg);
  }

  #cateat {
    width: 40%;
    height: 40%;
    transform: translate(550px, 170px) rotate(-12deg);
  }

  #squash {
    width: 40%;
    height: 40%;
    transform: translate(82px, 59px) rotate(-9deg);
  }

  #cathead {
    width: 35%;
    height: 35%;
    transform: translate(-9px, 357px) rotate(-5deg);
  }

  #ramen2 {
    width: 40%;
    height: 40%;
    transform: translate(76px, 180px) rotate(5deg);
  }
}
