#pot {
  height: 100%;
  width: 50vw;
  object-fit: contain;
}


#wave {
  width: 100%;
  position: relative;
}

@media screen and (max-device-width: 400px) {
  #wave {
    transform: translate(0px, 1px);
  }
}

@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  #wave {
    transform: translate(0px, 3px);
  }
}




#sand {
  width: 100%;
  /*position: absolute;*/
}


/*
  margin-top: 15vh;
  z-index: 1;*/
/*@media screen
 and (max-device-width: 1400px)
 and (min-device-width: 480px)
{
  body {
    background-color: black;
  }
}
*/

@media screen and (max-device-width: 400px) {
  #pot {
    margin-top: 0 !important;
  }
}

@media screen and (min-device-width: 401px) {
  #pot {
    z-index: 1;
    margin-top: 20vh;
  }
}


