.intro {
  background-color: white;
  height: 65vh;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
/*  margin-right: 5vw;*/
  font-family: Rum raisin;
  margin: auto;
}

.intro-heading {
  font-size: 80px;
  text-shadow: 6px 6px 3px lightgrey;
}

.intro-content {
  font-size: 46px;
}





/*@media screen and (min-width: 501px) {
  .intro-heading {
    font-size: 96px;
    text-shadow: 6px 6px 3px lightgrey;
  }
}


@media screen and (max-width: 500px) {
  .intro-heading {
    font-size: 30px;
  }
}*/






.main {
  background-color: #B3DBD7;
}


.floor {
  background-image: url('../images/sand.png');
  min-height: 46vw;
  background-size: cover;
  position: relative;
}






