.intro {
  background-color: white;
  height: 65vh;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#intro-text-illustration {
  width: 70%;
  height: 70%;
  transform: translate(-80px, 40px);
}


@media screen and (max-device-width: 400px) {
  #intro-text-illustration {
    width: 90%;
    height: 90%;
    transform: translate(10px, 20px);
  }
}

@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  #intro-text-illustration {
    width: 90%;
    height: 90%;
    transform: translate(10px, 110px);
  }
}


/*@media screen and (min-width: 501px) {
  .intro-heading {
    font-size: 96px;
    text-shadow: 6px 6px 3px lightgrey;
  }
}


@media screen and (max-width: 500px) {
  .intro-heading {
    font-size: 30px;
  }
}*/






.main {
  background-color: #B3DBD7;
}


.floor {
  background-image: url('https://res.cloudinary.com/cmodena6695/image/upload/v1613415905/sand_j8xph5.png');
  min-height: 46vw;
  background-size: cover;
  position: relative;
}






