.websites {
  margin: auto;
  display: flex;
}



/* HANDYLADIES */

@keyframes handyladies-sway {
  0% {transform: translate(20px, -271px) rotate(0deg);}
  30% {transform: translate(20px, -271px) rotate(-2deg);}
  65% {transform: translate(20px, -271px) rotate(2deg);}
  100% {transform: translate(20px, -271px) rotate(0deg);}
}

.handyladies {
  background-color: lightpink;
  height: auto;
  width: 60vw;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translate(20px, -271px);
  animation: handyladies-sway 6s;
  color: white;
}

.handyladies-text {
  margin-left: 25px;
}



.handyladies-text a:link {
  background:
     linear-gradient(
       to bottom, #fc798c 0%,
       #fc798c 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;
  text-decoration: none;
  transition: background-size .5s;
  padding: 5px;
}

.handyladies-text a:hover {
  background-size: 4px 50px;
}

.handyladies-text a:visited {
  background:
     linear-gradient(
       to bottom, #fc798c 0%,
       #fc798c 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;
  text-decoration: none;
  transition: background-size .5s;
  padding: 5px;
}








.handyladies-img-1 {
  width: 288px;
  height: 630px;
}

.handyladies-img-2 {
  width: 288px;
  height: 630px;
}

.handyladies-img-3 {
  width: 288px;
  height: 630px;
}

.handyladies-img-4 {
  width: 288px;
  height: 630px;
}

.handyladies-images {
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.handyladies-images-buttons {
  text-align: center;
  color: red;
}

#handyladies-button-2 {
  opacity: 0.5;
}

#handyladies-button-3 {
  opacity: 0.5;
}

#handyladies-button-4 {
  opacity: 0.5;
}


/* FISHBNB */

@keyframes fishbnb-sway {
  0% {transform: translate(-20px, 50px) rotate(0deg);}
  30% {transform: translate(-20px, 50px) rotate(2deg);}
  65% {transform: translate(-20px, 50px) rotate(-2deg);}
  100% {transform: translate(-20px, 50px) rotate(0deg);}
}

.fishbnb {
  background-color: #009dff;
  height: auto;
  width: 100%;
  padding: 50px;
  justify-content: space-around;
  margin: auto;
  transform: translate(-20px, 50px);
  animation: fishbnb-sway 6s;
  color: white;
}





.fishbnb-text a:link {
  background:
     linear-gradient(
       to bottom, blue 0%,
       blue 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;
  text-decoration: none;
  transition: background-size .5s;
  padding: 5px;
}

.fishbnb-text a:hover {
  background-size: 4px 50px;
}

.fishbnb-text a:visited {
  background:
     linear-gradient(
       to bottom, blue 0%,
       blue 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: white;
  text-decoration: none;
  transition: background-size .5s;
  padding: 5px;
}






.fishbnb-images {
  width: auto;
  margin-bottom: 10px;
}

.fishbnb-img-1 {
  width: 100% !important;
}

.fishbnb-img-2 {
  width: 100% !important;
}

.fishbnb-img-3 {
  width: 100% !important;
}



.fishbnb-images-buttons {
  text-align: center;
  color: blue;
}

#fishbnb-button-2 {
  opacity: 0.5;
}

#fishbnb-button-3 {
  opacity: 0.5;
}




.fish {
  display: flex;
  justify-content: space-around;
}

#fish-illustration {
  width: 40%;
  animation: fish-sway 4s infinite;
}

@keyframes fish-sway {
  0% {transform: translate(150px, 150px) rotate(2deg);}
  50% {transform: translate(150px, 150px) rotate(-2deg);}
  100% {transform: translate(150px, 150px) rotate(2deg);}
}


/* MOBILE VIEW */

@media screen and (max-device-width: 400px) {
  .handyladies {
    transform: translate(0px, 0px);
    animation: none;
    width: 95%;
    margin: auto auto 30px auto;

  }

  .handyladies-text h2 {
    font-size: 45px;
  }

  .handyladies-text p {
    font-size: 30px;
  }

  .handyladies-images-carousel {
    margin: auto;
  }

  #handyladies-button-1, #handyladies-button-2, #handyladies-button-3, #handyladies-button-4 {
    font-size: 40px;
  }

  .fishbnb {
    transform: translate(0px, 0px);
    animation: none;
    width: 95%;
    margin: auto;
  }

  .fishbnb-text h2 {
    font-size: 45px;
  }

  .fishbnb-text p {
    font-size: 30px;
  }

  #fish-illustration {
    transform: translate(0px, 0px);
  }

  #fishbnb-button-1, #fishbnb-button-2, #fishbnb-button-3 {
    font-size: 40px;
  }

  .websites {
    display: block;
  }

}

/* TABLET VIEW */

@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {

  .websites {
    display: block;
  }

  .handyladies {
    transform: translate(0px, -150px);
    animation: none;
    width: 95%;
    margin: auto auto 30px auto;

  }

  .handyladies-text h2 {
    font-size: 45px;
  }

  .handyladies-text p {
    font-size: 30px;
  }

  .handyladies-images-carousel {
    margin: auto;
  }

  #handyladies-button-1, #handyladies-button-2, #handyladies-button-3, #handyladies-button-4 {
    font-size: 40px;
  }

  .fishbnb {
    transform: translate(0px, 0px);
    animation: none;
    width: 95%;
    margin: auto;
  }
}
