.websites-section {
  margin: auto;
}


/* HANDYLADIES */

.handyladies {
  background-color: white;
  border-radius: 50px;
  height: auto;
  width: 60vw;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  transform: translate(10px, -194px);
  margin-bottom: 60px;
}


.handyladies-img-1 {
  width: 288px;
  height: 630px;
}

.handyladies-img-2 {
  width: 288px;
  height: 630px;
}

.handyladies-img-3 {
  width: 288px;
  height: 630px;
}

.handyladies-img-4 {
  width: 288px;
  height: 630px;
}

.handyladies-images {
  width: auto;
}

.handyladies-images-buttons {
  text-align: center;
  color: red;
}

#handyladies-button-2 {
  opacity: 0.5;
}

#handyladies-button-3 {
  opacity: 0.5;
}

#handyladies-button-4 {
  opacity: 0.5;
}


/* FISHBNB */

.fishbnb {
  background-color: white;
  border-radius: 50px;
  height: auto;
  width: 90vw;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  transform: translate(10px, -194px);
}

.fishbnb-images {
  width: auto;
}

.fishbnb-img-1 {
  width: 66% !important;
}

.fishbnb-img-2 {
  width: 66% !important;
}

.fishbnb-img-3 {
  width: 66% !important;
}



.fishbnb-images-buttons {
  text-align: center;
  color: blue;
}

#fishbnb-button-2 {
  opacity: 0.5;
}

#fishbnb-button-3 {
  opacity: 0.5;
}
