.websites-section {
  margin: auto;
}

.handyladies {
  background-color: white;
  border-radius: 50px;
  height: auto;
  width: 60vw;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  transform: translate(10px, -194px);
}


#handyladies-img {
  width: 20vw !important;
}

.handyladies-images {
  width: auto;
}

.handyladies-images-buttons {
  text-align: center;
}
