.about-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: var(--white);
  }

  a {
    color: var(--dark-blue);
  }
}

.about-photo-mobile {
  height: 30vh;
}

.about-footer-mobile {
  width: 100%;
  position: absolute;
  z-index: -1;
  transform: scaleX(-1);
}


.about-title-mobile {
  width: 100%;
  margin-bottom: 2vh;
}