.illustration-photo-mobile {
  width: 100%;
  margin: 0.5rem 0;
}

.illustration-content-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustrations-show-description-mobile {
  margin: 0.5rem 0;
  // background-color: var(--light-purple);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: justify;
  // padding: 1rem;

  p {
    color: var(--black);
  }
}

.illustrations-show-mobile {
  transition: 0.5s ease all;

}

.illustrations-show-mobile.hidden {
  display: none;
}

.illustrations-show-mobile.off-screen {
  transform: translate(100%, 0);
}


@media screen and (max-width: 1024px) {
  .illustration-show-content-top {
    flex-direction: column;

    & > img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 375px), 
       screen and (max-height: 667px) {
  .illustrations-show-description-mobile {
    height: 45vh;
    width: 59vw;

    & > div {
      max-height: 44vh;
    }
  }
}
