.navbar {
  width: 20%;
  background-color: var(--purple);
  height: 90vh;
  padding-bottom: 5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  position: sticky;
  align-self: start;
  top: 0;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navbar-item {
  height: 2rem;
  transition: 0.5s ease all;
}

.navbar-item:hover {
  transform: scale(1.2);
}