// external
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// local
@import "pages/index";
@import "components/index";
@import "variables";


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--purple);
}

.layout {
  display: flex;
  // grid-template-columns: 1fr 4fr;
  justify-content: space-between;
  max-width: 100vw;
  // overflow: hidden;
  // align-items: flex-start;
}

.layout-mobile {
  max-width: 100vw;
  overflow: hidden;
}

p {
  // font-family: 'Helvetica', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: var(--black);
  font-weight: 200;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: var(--black);
}

.flex, .flex-column, .flex-column-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column, .flex-column-lg {
  flex-direction: column;
}

.flex-column-lg {
  gap: 2rem;
}